.fot {
    display: flex;
    justify-content: space-around;
    padding: 20px; 
    background-color: #071730;
    /* height: 250px; */ /* Consider removing fixed height for better responsiveness */
  }
  
  .t1, .t2, .t3, .t4 {
    flex: 1;
    margin: 0 20px; 
    /* margin-left: 120px; */ /* Consider removing this or adjusting based on your design needs */
    padding-top: 40px;
    color: white;
  }
  
  .textcol1 {
    margin-top: 20px; 
    color: white;
  }
  
  /* Update styles for NavLink elements */
  .t1 a, .t2 a, .t3 a, .t4 a {
    color: white;
    text-decoration: none;
  }
  
  /* Remove the default blue color and underline */
  .t1 a:hover, .t2 a:hover, .t3 a:hover, .t4 a:hover {
    color: white;
    text-decoration: none;
    font-weight: lighter;
  }
  