.navbar {
    display: flex;
    margin-bottom: 38px;
    justify-content: space-between;
    overflow: hidden;
  }
  .home {
    margin: 22px;
  }
  
  /* homepage.css */
  .cart {
    margin: 22px;
  }
  
  .logopng {
    height: 100px;
    width: 100px;
    margin-bottom: 22px;
  }
  .icons {
    width: 60px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
    margin-right: 20px;
    
  }
  .icons-faShoppingCart{
   color: black;
}
.icons-faUser{
    color: black;
}