@model List<FURNITURE.Models.FurnitureDataModel>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/homepage.css" rel="stylesheet" />
</head>
<body>
    <div class="btop">
        <section class="bannersec">
            <container class="banner">
                <div class="headingtext">
                    <p> Trending Product in 2024 </p>
                    <h2>Make Your Interior More Minimalistic & Modern</h2>
                    <h5>
                        Elevate your space with our stylish and comfortable furniture
                        pieces
                    </h5>
                    <button class="clickb">Shop Now</button>
                </div>

                <div class="imgsec">
                    <img src="~/Images/bannerimg.png"/>
                </div>
            </container>
        </section>
    </div>


    <p class="text-center mt-5 text-black-900 fw-bold" style="font-size: 20px; margin-left:142px">Trending Products</p>
    <div class="container flex-md-wrap">
        <div class="d-flex justify-content-between  d-flex flex-wrap">
            @foreach (var furdata in Model)
            {
                <div class="col-md-3 mb-4">
                    <div class="card text-center" style="border: 2px solid black; border-radius: 20px;">
                        <img src="Images/Chair/chair1.png" class="card-img-top" alt="Chair 1">
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => furdata.Name)</h5>
                            <p>₹@Html.DisplayFor(modelItem => furdata.Price)</p>
                            <p>@Html.DisplayFor(modelItem => furdata.Description)</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <p class="text-center fw-bold mt-5 " style="font-size:22px">Best Sales</p>
    <div class="d-flex justify-content-center gap-5">
      
    </div>
    </div>
    <p class="text-center fw-bold mt-4" style="font-size:22px">Our Products</p>
    <div class="d-flex mt-5">
        <div>
            <img src="Images/Logo/StudyLogo.png" style="height:8vw;width8vw;margin-left:222px" />
            <p style="margin-left:240px" class="mt-3">Study Table</p>
        </div>
        <div>
            <img src="Images/Logo/ChairLogo.png" style="height:8vw;width8vw;margin-left:222px" />
            <p style="margin-left:260px" class="mt-3">Chair</p>
        </div>
        <div>
            <img src="Images/Logo/SofaLogo.png" style="height:8vw;width8vw;margin-left:222px" />
            <p style="margin-left:260px" class="mt-3">Sofa</p>
        </div>
    </div>
    <footer>
        <div style="height:20vw;width:100vw; background-color:#071730;margin-top:40px">
            <div class="container">
                <div class="row d-flex justify-content-around" style="color:white; padding-top: 20px;padding-top:100px">
                    <div class="col-md-3">
                        <h5 class="table">Multimart</h5>
                        <p>Versatile</p>
                        <p>Diverse</p>
                        <p>Dynamic</p>
                    </div>

                    <div class="col-md-3">
                        <h5>Top Categories</h5>
                        <p>Versatile</p>
                        <p>Diverse</p>
                        <p>Dynamic</p>
                    </div>

                    <div class="col-md-3">
                        <h5>Useful Links</h5>
                        <p>Versatile</p>
                        <p>Diverse</p>
                        <p>Dynamic</p>
                    </div>

                    <div class="col-md-3">
                        <h5>Contacts</h5>
                        <p>Versatile</p>
                        <p>Diverse</p>
                        <p>Dynamic</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>
